{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <form action="{% url 'admin_up' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <tr>
                <td><input type="number" placeholder="Enter Digit" required name="d1"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Name Of Material" required name="d2"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Design Style" required name="d3"></td>
            </tr>
            <tr>
                <td><input type="file" placeholder="Upload" required name="d4"></td>
            </tr>
            <tr>
                <td><input type="number" placeholder="Cost" required name="d5"></td>
            </tr>
            <tr>
                <td>
                    {% for x in messages %}
                        {{ x }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Add</button>
                </td>
            </tr>
        </form>
    </table>
</body>
</html>