{% extends "common.html" %}
{% load static %}
{% block harish %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h4>Items in my Cart</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ cp.product.title }}</td>
                        <td>{{ cp.rate }}</td>
                        <td>{{ cp.quantity }}</td>
                        <td>{{ cp.subtotal }}</td>
                        <td>
                            <a href="{% url 'managecart' cp.id %}?action=inc" class="btn btn-outline-success">Increase(+)</a>
                            <a href="{% url 'managecart' cp.id %}?action=dcr" class="btn btn-outline-info">Decrease(-)</a>
                            <a href="{% url 'managecart' cp.id %}?action=rmv" class="btn btn-outline-danger">Remove(x)</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Cost</th>
                        <th>Total: Rs. {{ cart.total }}</th>
                    </tr>
                    <tr>
                        {% if cart.cartproduct_set.all %}
                            <th><a href="{% url 'emptycart' %}">Clear Cart</a></th>
                        {% endif %}
                        {% if cart.cartproduct_set.all %}
                            <th><a href="#">Checkout</a></th>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}