{% extends "common.html" %}
{% load static %}
{% block harish %}
<!DOCTYPE html>
    {% include "navbar1.html" %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>
    <style type="text/css">
        .head{
            margin-top: 20px;
            text-align: center;
        }

        .container{
            position: relative;
            margin-top: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="head">
    <h2>Welcome {{ name|capfirst }}</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email Id</th>
                        <th>Contact No</th>
                        <th>Address</th>
                        <th>Joined On</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ profile.Name }}</td>
                        <td>{{ profile.Email }}</td>
                        <td>{{ profile.Contact }}</td>
                        <td>{{ profile.Address }}</td>
                        <td>{{ profile.Joined_on }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}