{% extends "common.html" %}
{% load static %}
{% block harish %}
<!DOCTYPE html>
    {% include "navbar1.html" %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>
    <style type="text/css">
        .head{
            margin-top: 20px;
            text-align: center;
        }

        .user{
            position: relative;
            text-align: center;
            color: dodgerblue;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<div class="main">
    <div class="head">
        <h2 style="font-size: 40px; font-weight: bold;">Welcome {{ name|capfirst }}</h2>
    </div>
    <hr>
    <div class="user">
        <div class="user1">
            <h4><span style="color: black">Name:</span> {{ profile.Name }}</h4>
        </div>
        <div class="user1">
            <h4><span style="color: black">Email Id:</span> {{ profile.Email }}</h4>
        </div>
        <div class="user1">
            <h4><span style="color: black">Mobile Number:</span> {{ profile.Contact }}</h4>
        </div>
        <div class="user1">
            <h4><span style="color: black">Address Details:</span> {{ profile.Address }}</h4>
        </div>
        <div class="user1">
            <h4><span style="color: black">Joined On:</span> {{ profile.Joined_on }}</h4>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}