<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>
</head>
<body>
    <p>It is the Info given while Registration, as you can give any of the info like you School Name, College Name, Your Favourite Book, Favourite Movie,
    Favourite Place, Favourite Dish and more, Whatever you want you can give. This will be useful at the time, when you
    Forget your Password. We ask this question to verify its you or not. So that we can show your Password.</p>
</body>
</html>